



h1{
text-align: center;
color: rgb(4, 202, 209)
}


.carousel-inner{
    height: 600px;
    width: 100%
}

#title1 {
    position: absolute;
    background-color: #b39d9d;
    width: 500px;
    top: 200px;
    left: 100px;
    padding: 0px;
    height: 500px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 999;
    
}



.Find{
    position: absolute;
    left:800px;
    top:200px;
    height:700px;
    width:600px;
    
}

.introduction{
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 0px;
    top: 60px;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 500px;
    line-height: 50px;
}

#toptitle{
    position: absolute;
    background-color: #6b5050;
    width: 500px;
    top: 200px;
    left: 100px;
    padding: 0px;
    height: 50px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1000;
    color: white;
}

.topword{
    position: absolute;
    text-align: center;
    font-size: 29px;
    left: 199px;
    top: 2px;
}

.Menu{
    position: absolute;
    left: 750px;
    height: 800px;
    width: 600px;
    top: 750px;
}

.icecream2{
    position: absolute;
    background-color: #b39d9d;
    width: 500px;
    top: 780px;
    left: 100px;
    padding: 0px;
    height: 500px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 999;
}

.top2{
    position: absolute;
    background-color: #6b5050;
    width: 500px;
    top: 780px;
    left: 100px;
    padding: 0px;
    height: 75px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1000;
    color: white;
}

.topword2{
    position: absolute;
    text-align: center;
    font-size: 29px;
    left: 199px;
    top: 15px;
}

.bottomword{
    
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 0px;
    top: 70px;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 500px;
    line-height: 80px;
}

.ice1{
    position: absolute;
    text-align: center;
    left: 400px;
    color: rgb(35, 133, 133);
}

.main1{
    position: absolute;
    background-color: #b8efff;
    width: 1000px;
    top: 700px;
    left: 200px;
    padding: 0px;
    height: 50px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
}

.icecream3{
    position: absolute;
    background-color: #b39d9d;
    width: 500px;
    top: 1500px;
    left: 100px;
    padding: 0px;
    height: 500px;
    margin: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 999;
}

